<!DOCTYPE HTML>
<html lang="{{.Site.LanguageCode}}">
<head>
  <meta charset="UTF-8">
  <title>
    {{- .Title }} &laquo; {{ .Site.Title -}}
  </title>
  <meta name="X-UA-Compatible" content="IE=edge">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  {{ if .IsPage }}
  <meta name="description" content="{{ .Summary }}{{- if .Truncated }} ... {{- end -}}">
  {{- end }}

  <link rel="canonical" href="{{ .Permalink }}">
  {{- range .AlternativeOutputFormats }}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" title="{{ .Name }}" href="{{ .Permalink | safeURL }}">
  {{ end }}

  {{- with resources.Get "sass/normalize.css" | fingerprint }}
    <link rel="stylesheet" type="text/css" href="{{ .Permalink }}" media="all">
  {{- end }}

  {{- with resources.Get "sass/layout.sass" | toCSS | fingerprint }}
    <link rel="stylesheet" type="text/css" href="{{ .Permalink }}" media="all">
  {{- end }}
</head>
<body>
<div id="wrapper">
  <nav>
    {{- partial "sidebar.html" . -}}
  </nav>
  <main>
    {{- block "main" . }}{{- end }}
  </main>
</div>
</body>
</html>
