<div id="logo">
  {{ $logoUrl := resources.Get "images/logo.png" | fingerprint }}
  <a href="{{.Site.BaseURL}}">
    <img src="{{ $logoUrl.Permalink }}" integrity="{{ $logoUrl.Data.Integrity }}" alt="{{ .Site.Title }}" />
  </a>
</div>

<ul class="nav">
  {{ $current := . }}
  {{ range .Site.Menus.main }}
    {{ if $current.IsMenuCurrent "main" . }}
      <li class="active">
    {{ else }}
      <li>
    {{ end }}

      <a href="{{ .URL }}">{{ .Name }}</a>
    </li>
  {{ end }}
</ul>
